// main.scss

// Normalize
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import './normalize';
* { box-sizing: border-box; } // Don't add padding to width ANYWHERE!

// Theme
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import './theme';

// Layout
// ––––––––––––––––––––––––––––––––––––––––––––––––––
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.viewport {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  main {
    flex: 1;
  }
}
